@using tuzi_tsuki.Models;
@model SongVM;

@{
    ViewData["Title"] = "添加歌";
}

<div class="row">
    <div class="col-md offset">
        <p>
            <h4>添加一个新歌</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md alert alert-danger">
                <span> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md offset">
                <form asp-action="AddSong">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="SongName" class="control-label"></label>
                        <input asp-for="SongName" class="form-control" />
                        <span asp-validation-for="SongName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Actor" class="control-label"></label>
                        <input asp-for="Actor" class="form-control" />
                        <span asp-validation-for="Actor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="type" class="control-label"></label>
                        <input asp-for="type" class="form-control" />
                        <span asp-validation-for="type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="添加" />
                        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>